/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 27, 2014, 1:34:36 PM
    Author     : Administrator
*/

@import url(http://weloveiconfonts.com/api/?family=fontawesome);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);

body {
    background-image: url("background.jpg");
    background-size: 100%; 
}

nav {
    text-align: left;
    border: 2px;
    float: right;
    
}

.center {
    margin: auto;
    width: 400px;
    height: 500px;
    border: 3px solid white;
    border-radius: .25rem;
    padding: 10px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
}

.back{
    margin-top: 5px;
    margin-bottom: -20px;
    padding-left: 5px;
}
a{
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    color: #696969;
    text-decoration: none;
}

.fullname, .username, .email, .password, .submit{
    border-radius: .25rem;
    height: 40px;
    margin-bottom: 15px;
}

.submit{
    height: 10%;
}



input[type=text], input[type=email], input[type=password]{
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    color: #696969;
    padding-left: 5%; 
    margin: auto;
    float: left;
    height: 100%;
    width: 94.5%;
    border: 0.5px solid #D3D3D3;
    border-radius: .25rem;
    background-color: white;
}

#firstname{
    width: 42%;
    height: 100%;
    margin-right: 5%;
}

#surname{
    width: 42%;
    height: 100%;
}

input[type=submit]{
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-weight: bold;
    font-size: 15px;
    margin: auto;
    float: left;
    border: none;
    height: 100%;
    width: 100%;
    background-color: #327ED5;
    border-radius: .25rem;
}
.title, .register{
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    text-align: center;
    
}

.register{
    padding-top: 10px;
}

h1{
    color: black;
    font-size: 40px;
}

h2{
    margin-top: -10px;
    font-size: 16px;
    color: #696969;
}


h3{
    font-size: 14px;
    color: #696969;
}

h4{
    font-size: 14px;
    color: #696969;
    margin-top: -5px;
}/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 18, 2016, 11:16:42 AM
    Author     : Javier
*/

